.main {
    min-height: 100vh;
}

.main {
    display: flex;
    min-height: 100vh;

}

.main-content {
    flex: 1 0 auto; /* 2 */
    padding: var(--space) var(--space) 0;
    width: 100%;
    background: linear-gradient(56deg, rgba(13,13,13,1) 35%, rgba(13,13,13,1) 40%, rgba(217,154,37,1) 41%);
}